@import url('https://fonts.googleapis.com/css2?family=Anton&family=Belanosima&family=Fjalla+One&family=Josefin+Sans:wght@300;400;600&family=Montserrat:wght@100;400;500;600;700;800;900&family=Oswald&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,600;1,700;1,800&family=Roboto:ital,wght@0,300;0,400;0,700;1,300&family=Signika&family=Source+Code+Pro&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.h2-session {
    @apply text-2xl font-semibold;
}


.text-shadow {
    text-shadow: 2px 2px 6px rgb(213, 211, 211);
}

.text-shadow-white {
    text-shadow: 2px 2px 6px rgb(60, 59, 59);
}

.to-hide {
    @apply opacity-0 -translate-x-3/4;
    transition: all 0.7s;
}

.to-show {
    @apply opacity-100 translate-x-0;
    transition: all 0.7s;
}



/*----------CONFIGURANDO TITULO DA SESSÃO PARA TODAS AS SESSÕES*/
.title_global_wrapped {
    @apply flex justify-center pt-5percenet pb-28;
}

.title_global_wrapped h1 {
    @apply text-4xl font-semibold text-white;
}


/*-------------------------*/




html {
    scroll-behavior: smooth;
}

#grid-container {
    @apply grid grid-cols-12 font-poppins;
}



/*------------------------------------- HEADER -------------------------------------------------------*/

#grid-container header {
    @apply col-span-full flex justify-between sticky items-center top-0 left-0 right-0 px-10 py-3;
    @apply bg-tallesBlackBlack text-tallesGrayLight transition-all z-50;

    /*Breakpoint*/

}

header .logo {
    @apply w-56;

    /*breakpoints*/
    @apply tbl:w-14;
}

#logo-nome {
    @apply block;

    /*breakpoint*/
    @apply tbl:hidden;
}

#logo-isolada {
    @apply hidden;

    /*breakpoint*/
    @apply tbl:block;
}

.nav_logo span {
    @apply inline-block animate-bounce ml-1 text-4xl text-tallesGrayLight;
}

.nav_logo a {
    @apply font-semibold;
}

header label {
    @apply absolute right-3 text-2xl hidden;

    /*breakpoints*/
    @apply tbl:block;
}

label i {
    @apply text-tallesGrayLight;
}

/*OCULTA BOTAO MENU QUANDO CHECK MARCADO*/
input:checked~label .btn-menu {
    @apply !hidden;
}

/* MOSTRA BOTAO X QUANDO CHECK MARCADO*/
input:checked~label .btn-x {
    @apply !block;
}


header nav {
    @apply flex gap-10 relative transition-all bg-tallesBlackBlack font-semibold;

    /*breakpoints*/
    /*Quando menor que 860px, a nav irá virará um menu lateral*/
    @apply tbl:fixed tbl:top-2 tbl:left-0 tbl:h-full tbl:flex-col tbl:pl-7 tbl:pt-10 tbl:w-56 tbl:-translate-x-60 tbl:border-r-2 tbl:border-gray-700;
}

/*Mostra a nav que está oculta com o translate de volta para 0*/
input:checked~nav {
    @apply tbl:translate-x-0;
}

nav a {
    @apply text-tallesGrayLight hover:text-tallesBlueLight transition-all;
}


/*__________________________________________________ FIM DO HEADER __________________________________________*/

















/*-------------------------------------------------------- HERO ------------------------------------------------*/

#hero {
    @apply col-span-full flex items-center justify-between bg-tallesBlack text-tallesGrayLight px-14 min-h-screen overflow-hidden relative;

    /*Breakpoint*/
    @apply lghero:justify-around;

    @apply tbhero:flex-col tbhero:pt-20 tbhero:justify-center tbhero:items-center;

    background: linear-gradient(to right, rgb(32, 30, 30, 0.9), #201e1e), url('../Image/Img_Hero/YYYY.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*-------LADO ESQUERDO, SUBTITULOS E BOTÕES*/
#hero #info-profile-wrapped {
    @apply -translate-y-10;

    /*breakpoint*/
    @apply tbhero:flex tbhero:flex-col tbhero:items-center;
}

#info-profile-wrapped .subtitles {
    @apply flex flex-col gap-2;

    /*breakpoint*/
    @apply tbhero:items-center;
}


.subtitles h1 {
    @apply text-7xl font-bold animate-slideRight transition-all text-nowrap;

    /*Breakpoint*/
    @apply deskhero:text-5xl mobhero:text-4xl smhero:text-3xl;

    /*DEIXANDO OPACIDADE ZERADA PARA A ANIMAÇÃO  SAIR FLUIDA*/
    @apply opacity-0;
}

.subtitles h1 #dot-name {
    @apply text-8xl inline-block animate-bounce text-tallesBlueLight;

    /*breakpoint*/
    @apply deskhero:text-6xl mobhero:text-5xl;
}


.subtitles h2 {
    @apply text-5xl text-tallesBlueLight font-semibold animate-slideLeft transition-all;

    /*breakpoint*/
    @apply deskhero:text-3xl mobhero:text-2xl smhero:text-xl;

    /*DEIXANDO OPACIDADE ZERADA PARA A ANIMAÇÃO  SAIR FLUIDA*/
    @apply opacity-0;
}


.subtitles h2 #profession {}


.subtitles p {
    @apply animate-slideRight transition-all w-8/12 transition-all;

    /*breakpoint*/
    @apply deskhero:w-2/3 tbhero:text-sm mobhero:text-ltt mobhero:w-10/12;

    /*DEIXANDO OPACIDADE ZERADA PARA A ANIMAÇÃO  SAIR FLUIDA*/
    @apply opacity-0;
}

/* CONTAINER DOS BOTÕES*/
.buttons-wrapped {
    @apply flex gap-3 mt-6;
}

.buttons-wrapped a {
    @apply flex justify-center items-center;
}

.buttons-wrapped #plans-button {
    @apply bg-tallesBlueLight py-3 px-5 rounded text-tallesBlack font-semibold border-2 border-transparent transition-all;
    @apply hover:bg-tallesBlack hover:text-tallesBlueLight hover:border-tallesBlueLight;

    @apply animate-slideRight mobhero:text-sm mobhero:px-4 mobhero:py-2;

    /*DEIXANDO OPACIDADE ZERADA PARA A ANIMAÇÃO  SAIR FLUIDA*/
    @apply opacity-0;
}

.buttons-wrapped #whats {
    @apply border-2 p-2 border-tallesBlueLight rounded text-tallesBlueLight font-semibold transition-all text-nowrap;
    @apply hover:bg-tallesBlueLight hover:text-tallesBlack animate-slideLeft;

    /*Breakpoint*/
    @apply mobhero:text-sm mobhero:px-2 mobhero:py-2;

    /*DEIXANDO OPACIDADE ZERADA PARA A ANIMAÇÃO  SAIR FLUIDA*/
    @apply opacity-0;
}

#whats i {
    @apply text-4xl;
}

/*------LADO DIREITO, FOTO DO PROFILE HERO*/
#hero #photo-profile-wrapped {
    @apply w-400 animate-slideLeft;

    /*breakpoint*/
    @apply tbhero:w-64;

    /*DEIXANDO OPACIDADE ZERADA PARA A ANIMAÇÃO  SAIR FLUIDA*/
    @apply opacity-0;
}

#hero #photo-profile-wrapped img {
    @apply w-full rounded-full border-b-8 border-tallesBlack;
}


/*LETREIRO*/
#hero #sign {
    @apply absolute top-1 -right-80 text-tallesBlackLight2 font-semibold text-sm animate-cloudLeft;

    /*Breakpoint*/
    @apply mobhero:text-ltt;
}














/*----------------------------------------------------------- ABOUT ------------------------------------------------------------*/

#about {
    @apply col-span-full text-white bg-tallesBlackBlack pb-5percenet;


}


/*Container que engloba todo o conteudo de about*/
.info-about-wrapped {
    @apply flex gap-24 px-5percenet justify-center;

    /*marcação*/
    /* @apply bg-purple-800; */
}


/*---------------CONTAINER QUE ENGLOBA TODA PARTE DE FORMAÇÃO*/
.info-about-wrapped .about-me-wrapped {
    @apply flex flex-col gap-10;

    /*Breakpoint*/
    @apply tblabout:w-10/12 mobabout:w-full lgabout:w-2/3;

    /*Marcação*/
    /*  @apply bg-yellow-400 p-3; */
}

.about-me-wrapped .about-subtitles {
    @apply flex flex-col gap-2;


    @apply tblabout:items-center tblabout:gap-5;

    /*Marcação*/
    /* @apply bg-rose-600 p-3; */
}

.about-subtitles h2 {
    @apply h2-session text-tallesBlueLight;
}

.about-subtitles p {

    @apply transition-all;

    /*  @apply bg-purple-500; */
}


/*---------------CONTAINER QUE ENGLOBA TODA PARTE TÓPICOS*/
.about-me-wrapped .topics-about-wrapped {
    @apply flex flex-col gap-4;

    /* @apply bg-blue-800 p-3; */
}


.topics-about-wrapped .subtitles-about {

    /*Breakpoint*/
    @apply tblabout:flex tblabout:flex-col tblabout:items-center tblabout:mt-16;

    /*Marcação*/
    /* @apply bg-green-500 p-3; */
}


.subtitles-about h2 {
    @apply h2-session text-tallesBlueLight;


}


.subtitles-about h3 {}


/*------------- CONTAINER ENGLOBA APENAS OS TÓPPICOS*/
.topics-about-wrapped .topics-about {
    @apply flex flex-col gap-3;


    /* @apply bg-purple-800 p-3; */
}

.topics-about .p-topics {
    @apply flex gap-2 bg-tallesBlackEasy shadow-2xl p-5 rounded;
}


.p-topics i {
    @apply text-tallesBlueLight
}


.p-topics p {
    @apply mobhero:text-xs tbhero:text-sm transition-all;
}

.info-about-wrapped img {
    @apply w-96 tblabout:hidden;
}


/*____________________________________________________________ FIM ABOUT __________________________________________________________*/













/*---------------------------------------------------------- PLANS -----------------------------------------------------------------*/

#plans {
    @apply col-span-full pb-5percenet;

    background: linear-gradient(to right, rgb(32, 30, 30, 0.9), #201e1e), url('../Image/Img_About/gym.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}


#plans .plans-container {
    @apply flex gap-5 px-5 justify-center flex-wrap transition-all;

    /*Breakpoint*/
    @apply mobPlans:px-4;

    /*marcação*/
    /* @apply bg-purple-500 p-3; */
}

.plans-container .plans-uniq {
    @apply flex gap-5 justify-around max-w-2xl shadow-2xl rounded overflow-hidden;
    @apply border-2 border-tallesGrayLight bg-tallesBlack border-l-4 border-l-tallesBlueLight relative cursor-pointer;

    /*Breakpoint*/
    @apply mobPlans:w-full plansCard:w-full;
    /*marcação*/
    /*  @apply bg-green-500; */


}

/*LADO DO PREÇO DO PLANO, ESQUERDO*/
.plans-uniq .price {
    @apply flex flex-col justify-center items-center gap-5 pl-7 py-4;

    /*marcação*/
    /* @apply bg-rose-600; */
}


.price .title-price-wrapped {
    @apply flex items-center;

    /* @apply bg-yellow-300 p-3; */
}

.title-price-wrapped span {
    @apply text-2xl font-semibold -translate-y-2 text-tallesGrayLight;

    /*Breakpoint*/
    @apply mobPlans:text-xl;
}

.title-price-wrapped h2 {
    @apply text-5xl text-tallesBlueLight;

    /*Breakpoint*/
    @apply mobPlans:text-3xl;

    /*marcação*/
    /* @apply bg-gray-700 p-3; */
}

.price p {
    @apply text-tallesGrayLight text-nowrap;

    /*marcação*/
    /*  @apply bg-sky-300 p-3; */
}



/*LADO DOS BENEFICIOS DO PLANO, DIREITO*/
.plans-uniq .bonus {
    @apply flex flex-col gap-4 pr-14 py-3;


    /*marcação*/
    @apply bg-rose-700;
}

.bonus h3 {
    @apply text-tallesGrayLight text-center text-xl font-semibold;

    /*Breakpoint*/
    @apply mobPlans:text-lg;

    /*marcação*/
    /* @apply bg-yellow-500 p-3; */
}


.bonus .benefit-wrapped {
    @apply w-full;
    /*marcação*/
    /*  @apply bg-amber-800 p-3; */
}


.benefit-wrapped p {
    @apply flex items-center text-nowrap text-tallesGrayLight;

    /*Breakpoint*/
    @apply mobPlans:text-sm;
    /*marcação*/
    /*  @apply bg-orange-500 p-3 mb-2; */
}

.bonus p i {
    @apply text-tallesBlueLight text-2xl;
}


/*SLIDE DE ANIMAÇÃO DOS CARDS*/
.slide-plans {
    @apply absolute top-0 left-0 right-0 bottom-0;
    @apply flex justify-center items-center transition-all duration-700;
    @apply -translate-x-full;

    /*  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4)); */
    background-image: linear-gradient(to bottom, rgb(51, 153, 255), rgb(51, 153, 255, 0.6), rgba(0, 0, 0, 0.5))
}

.plans-uniq:hover .slide-plans {
    @apply translate-x-0;
}

.slide-plans .buttons-plans-wrapped {
    @apply flex gap-5;

    /*Marcação*/
    /* @apply bg-rose-500 p-3; */
}

.buttons-plans-wrapped a {
    @apply bg-tallesBlack text-tallesBlueLight py-4 px-2 flex-1 flex justify-center items-center;
    @apply min-w-32 font-semibold border-2 border-tallesBlueLight;
}

/*_________________________________________________________FIM PLANS ________________________________________________________________*/